/*Define the variables*/
:root {

	--primary-font: Arial, Helvetica, sans-serif;
	--secondary-font:  "Roboto", sans-serif;
	--primary-color: #2d2626;
	--secondary-color: #910e0e;
	--tertiary-color: #2f4f4f;
	--background-color: #1a1a1a;
	--shadow-color: #000;
	--box-shadow: 0px 2px 15px 2px var(--shadow-color)	
}

/*Clear the css*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Define the html behavoir*/
html {
	scroll-behavior:smooth;
	height: 100%;
}

/*Define the style for the body*/
body {
	background: linear-gradient(315deg, var(--secondary-color) 0%, var(--primary-color) 50%);
	background-size: cover;
	background-attachment: fixed;
	/*overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;*/
}

.text-bg-primary {
    background-color: whitesmoke !important; /* Custom primary color */
    border-width: 1px;
    border-radius: 1%;
    border-color: black;
    border-style: solid;
}

#team-panel{
    background-color: whitesmoke;
	margin: 1% auto 3% auto;
	border-radius: 10px;
    padding:20px 20px;

}

.team-description{
    margin:10px 3px;
}
.team-description p{
    margin:10px 3px;
}

.white{
    color:white;
}

#blog-panel {
    margin: 1% auto 3% auto;
    border-radius: 10px;
    padding:20px 20px;
}

.blog-post{
    margin: 1% auto;
    border-radius: 10px;
}

#schedule-panel{
    background-color: whitesmoke;
    border-radius:10px;
    padding-top:10px;
}

.social-icon{
    width: 100px;

}

.social-links{
    margin: 5% auto 3% auto;
    padding-top:1%;
    max-width: 93%;
    border-radius: 10px;
    background-color: var(--background-color);
    color:white;
}

footer{
    padding:10px;

}